body {
	background: url("pengertian-php.jpg");
	background-size: cover;
	background-position: center;
}
header {
	margin-top: 5px;
}
header{
	border: 2px dotted #fff;
}
header:hover {
	background: linear-gradient(rgba(0, 0, 10, 0.90), rgba(0, 0, 120, 0.30));
}
header h1 {
	color: #fff;
	font-family: Pacifico;
	font-weight: bold;
	font-size: 50px;
}
h3{
	color: #fff;
	font-family: sans-serif;
}
.body {
	margin-top: 15px;
}
.panel{
	background: transparent;
	color: #fff;
	transition: 0.30s;
	-moz-transition: 0.30s;
}
.panel .panel-header h2{
	font-weight: bold;
	font-family: sans-serif;
}
.panel .panel-footer {
	background: transparent;
}
.panel .panel-footer .btn-1 {
	width: 200px;
}
.panel .btn-2 {
	border-radius: 50%;
}
.rem {
	border-radius: 50%;
}
.tengah {
	background: black;
}
.sosmed {
	float: left;
	margin: 0% 55px;
	background: black;
	border-radius: 5%;
	height: 525px;
	padding: 10px;
	text-align: center;
	color: #fff;
}
.sosmed h2 {
	font-family: Pacifico;
}
.sosmed button {
	margin: 5px;
	margin-top: 10px;
	width: 120px;
	padding: 10px;
}
.tentang_saya {
	float: left;
	margin: 0% 5px;
	background: black;
	border-radius: 5%;
	height: 455px;
	padding: 10px;
	text-align: center;
	color: #fff;
	padding: 5px;
}
.tentang_saya h2 {
	font-family: Pacifico;
}
.tentang_saya img {
	width: 200px;
	height: 200px;
	margin-bottom: 10px;
}
.tentang_saya p {
	font-weight: bold;
}
.fitur {
	float: left;
	margin: 0% 5px;
	background: black;
	border-radius: 5%;
	height: 450px;
	padding: 10px;
	text-align: center;
	color: #fff;
	padding: 5px;
}
.fitur .pac {
	font-family: Pacifico;
}
.fitur ul li{
	float: left;
}
.fitur a {
	color: blue;
}
.fitur a:hover {
	color: #fff;
}
.ted {
	z-index: -99999;
	background: rgba(0,0,0,0.6);
	height: 90px;
}